:root {
    --primary-blue: #E9F1FA; /* Azul muy claro */
    --bright-blue: #00ABE4; /* Azul brillante */
    --white: #FFFFFF; /* Blanco */
    --text-dark: #212121; /* Texto oscuro */
    --text-light: #757575; /* Texto claro */
}